"*":
  "atom-beautify":
    general:
      _analyticsUserId: "65b6b54f-75bd-471f-88c3-0b0c5f340199"
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "enter"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-python"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "no"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Hack"
    preferredLineLength: 128
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "file-icons":
    coloured: false
  "language-log":
    tail: true
  "linter-js-yaml":
    customTags: [
      "!include"
      "!include_dir_list"
      "!include_dir_named"
      "!include_dir_merge_list"
      "!include_dir_merge_named"
      "!secret"
    ]
  "linter-ui-default":
    showPanel: true
    useBusySignal: false
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  tabs:
    enableVcsColoring: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
